body {
	background-color: white;
	margin: 0;
	padding: o;

}


.header-fixed {
    position: fixed;
    top: 0;
    height: 10%;
	border-bottom: dashed 5px #82cddd;
    width: 100%;
    margin: 0;
	text-align: center;
	display: table;
	background-color:white
}

h3 {
    padding: 0.5%;
    background: #77c3df;
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 1%;
    margin-right: 2%;
    padding-left: 5%;
}

.search-area {
    margin-top: 8%;
    margin-left: 1.5%;
    border: solid 2px #a180dc;
    padding: 1%;
    padding-top: 6%;
    width: 90%;
    text-align:left;
}
.search_btn {
    text-align: center;
    margin-bottom: 2%;
}


table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5%;

}


#nav-drawer {
  height: 20px;
    /* position: relative; */
    /* padding-top: 2%; */
    display: table-cell;
    margin-top: 2%;
}

img {
	position: fixed;
    vertical-align: middle;
    top:17px;
    right:1.5px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    width: 30px;
    vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
/* #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;線の太さ
    width: 25px;長さ
    border-radius: 3px;
    background: #555;
    display: block;
    content: '';
    cursor: pointer;
}
#nav-open span:before {
    bottom: -8px;
}
#nav-open span:after {
    bottom: -16px;
} */

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る*/
    max-width: 330px;/*最大幅*/
    height: 100%;
    background: #fff;/*背景色*/
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.menu{
	display: table-cell;
	text-align:left;
	width : calc(100% / 3) ;
}

.main-title{
	display: table-cell;
	text-align:center;
	width : calc(100% / 3) ;
	font-weight: 700;
	font-size: 35px;
}
.logout{
	display: table-cell;
	text-align:right;
	width : calc(100% / 3) ;
	padding: 10px;
}

a.link_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
}

a.link_btn>span {
    border-bottom: solid 2px #FFF;
}
a.link_btn:hover {
    background: #91b5fb;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.messages {
    width: 100%;
    text-align: center;
    margin-bottom: 3%;
}

.message{
    width: 60%;
    margin: auto;
	border-bottom: dashed 3px #82cddd;
	word-break: break-all;

	/* word-break: break-all; */
}



.message-footer {
    width: 60%;
    margin: auto;
    margin-top: 1%;
}

h1{
	background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    font-size: 25px;
    /* float: left; */
    text-align: left;
}

.date {
    text-align: right;
    font-size: 17px;
}

.text {
    text-align: left;
    margin-top: 2.5%;
    font-size: 18px;
}

.category {

    text-align: left;
    font-size: 17px;
    display: inline-block;
    width: 49%;

}


.account-name {

    text-align: right;
    font-size: 17px;
    display: inline-block;
    width: 49%;

}

.massage-delete {
    width: 60%;
    /* margin-left: 50%; */
    margin: auto;
    margin-top: 1%;
    text-align: right;
    /* right: 0; */
    /* margin-right: 0%; */
}



.comment{
	width: 60%;
	margin:auto;

}

.comment-area {
    background-color: #e0edff;
    padding: 1%;
    padding-left: 2%;
    margin-top: 1%;
}

.comment-text {
    text-align: left;
    margin-top: 2.5%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-size: 18px;
    background: #e0edff;
    border-bottom: dashed 2px #82cddd;
    word-break: break-all;
}

.comment-footer {
    margin-bottom: 1.5%;
    /* margin-top: 1%; */
}

.comment-date {
    display: inline-block;
    text-align: left;
    font-size: 17px;
    width: 49%;
}
.comment-account-name {

   display: inline-block;
    text-align: right;
    font-size: 17px;
    width: 49%;
}

.comment-delete {
    text-align: right;
    margin-bottom: 2%;
}

.comment-box{

	resize:none;

}

h2{
	padding: 0.5%;
    background: #77c3df;
    font-size: 20px;
    color: white;
    text-align: left;
}



input#submit_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #00a7cc;
    transition: .4s;
    height: 40px;
    border-style: none;
    border-bottom: solid 2px #FFF;
    font-size: 14px;
    margin-top: 3%;
}


input#submit_btn:hover {
    background: #91b5fb;
}

input#reset_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #00a7cc;
    transition: .4s;
    height: 40px;
    border-style: none;
    border-bottom: solid 2px #FFF;
    font-size: 14px;
}


input#reset_btn:hover {
	background: #e61739;;
}


.errorMessages {
	margin: auto;
	margin-top: 7%;
    width: 60%;
    color: red;
    font-size: 20px;
    text-align: center;
}

ul {
    padding: 0;
    list-style: none;
}


ul li {
	color: red;
    text-align: center;
    list-style-position: inside;
    list-style: none;
}


.form-area {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}



.erorrMessage {
	color: red;
	margin-top: -70px;
	padding-top: 70px;
}

.copyright {
	position: fixed;
    background-color: #82cddd;
    margin: 0 auto;
    padding-top: 4px;
    height: 5%;
    width: 100%;
    text-align: center;
    bottom: 0;

}

