html{
	height:100%

}

body {
	background-color: white;
	margin: 0;
	height: 100%;

}

.overall {
    height: 100%;
}

.header-fixed {
    position: fixed;
    top: 0;
    height: 10%;
	border-bottom: dashed 5px #82cddd;
    width: 100%;
    margin: 0;
	text-align: center;
	display: table;
	background-color:white;
}

h1{
	padding: 10px;
	margin: 0;
	di
}


.main-contents {

	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 85%;
	width: auto;
}
.form{

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    height: 300px;
    width: 500px;
    font-size: 18px;

}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

ul {
    padding: 0;
    list-style: none;
}


ul li {
	color: red;
    text-align: center;
    list-style-position: inside;
}

input#submit_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #00a7cc;
    transition: .4s;
    height: 40px;
    border-style: none;
    border-bottom: solid 2px #FFF;
    font-size: 14px;
    margin-top: 15px;
}


input#submit_btn:hover {
    background: #91b5fb;
}

p.a {

    margin-bottom: 1%;
}

p.b {
    margin-top: 1%;
    margin-bottom: 1%;
}


.copyright {
	position: fixed;
    background-color: #82cddd;
    margin: 0 auto;
    padding-top: 4px;
    height: 5%;
    width: 100%;
    text-align: center;
    bottom: 0;

}
