html{
	height:100%

}

body {
	background-color: white;
	margin: 0;

}

.overall {
    height: 100%;
}

.header-fixed {
    position: fixed;
    top: 0;
    height: 10%;
	border-bottom: dashed 5px #82cddd;
    width: 100%;
    margin: 0;
	text-align: center;
	display: table;
	background-color:white;
}

.menu{
	display: table-cell;
	text-align:left;
	width : calc(100% / 3) ;
}

.main-title{
	display: table-cell;
	text-align:center;
	width : calc(100% / 3) ;
	font-weight: 700;
	font-size: 35px;
}
.logout{
	display: table-cell;
	text-align:right;
	width : calc(100% / 3) ;
}

a.link_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
}

a.link_btn>span {
    border-bottom: solid 2px #FFF;
}
a.link_btn:hover {
    background: #91b5fb;
}





.main-contents {

	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 85%;
	width: auto;
}
.form{

	margin: auto;
    margin-top: 6%;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    height: 400px;
    width: 70%;

}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

tr {
    height: 45px;
}




td#test{
width: 35%;
}
td#hoge{
width: 65%;
}
textarea.message-box{
	resize: none;
    width: 600px;
    height: 154px;
}


.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

ul {
    padding: 0;
    list-style: none;
}


ul li {
	color: red;
    text-align: center;
    list-style-position: inside;
}

input#submit_btn {


    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #00a7cc;
    transition: .4s;
    height: 40px;
    border-style: none;
    border-bottom: solid 2px #FFF;
    font-size: 14px;
    margin-top: 2%
}


input#submit_btn:hover {
    background: #91b5fb;
}

.copyright {
	position: fixed;
    background-color: #82cddd;
    margin: 0 auto;
    padding-top: 4px;
    height: 5%;
    width: 100%;
    text-align: center;
    bottom: 0;

}
