html{
	height:100%

}

body {
	background-color: white;
	margin: 0;


}

.overall {
    height: 100%;
}

.header-fixed {
     position: fixed;
    top: 0;
    height: 10%;
	border-bottom: dashed 5px #82cddd;
    width: 100%;
    margin: 0;
	text-align: center;
	display: table;
	background-color:white;
}
.menu{
	display: table-cell;
	text-align:left;
	width : calc(100% / 3) ;
}

.main-title{
	display: table-cell;
	text-align:center;
	width : calc(100% / 3) ;
	font-weight: 700;
	font-size: 35px;
}
.logout{
	display: table-cell;
	text-align:right;
	width : calc(100% / 3) ;
}

a.link_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
}

a.link_btn>span {
    border-bottom: solid 2px #FFF;
}
a.link_btn:hover {
    background: #91b5fb;
}


.main-contents {

	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 85%;
	width: auto;
	font-size: 17px;
}
.form{

	height: 400px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;

}

table {
    text-align: left;
    margin: auto;
    margin-top: 10%;

}

tr {
    height: 45px;
}

input#title {
    width: 200px;
}

input#category {
    width: 200px;
}


.errorMessages {

    width: 70%;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    color: red;
    margin-bottom: -6%;
    list-style:none;
}

ul {
    padding: 0;
    list-style: none;
}


ul li {
	color: red;
    text-align: center;
    list-style-position: inside;
}





input#submit_btn {

    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #00a7cc;
    transition: .4s;
    width: 90px;
    height: 40px;
    border-style: none;
    border-bottom: solid 2px #FFF;
    font-size: 16px;
    margin-top: 10px;

}


input#submit_btn:hover {
    background: #91b5fb;
}


.copyright {
	position: fixed;
    background-color: #82cddd;
    margin: 0 auto;
    padding-top: 4px;
    height: 5%;
    width: 100%;
    text-align: center;
    bottom: 0;

}
